@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    /* primary */
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    /* secondary */
    --red: hsl(0, 87%, 67%);

    /* neutral */
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --dark-blue: hsl(255, 11%, 22%);
    --dark-violet: sl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    padding: 1rem 1.5rem;
    display: flex;
}

.navbar {
    width: 100%;
}

.nav-logo {
    padding: 2vw;
}

.nav-list,
.nav-menu,
.nav-actions {
    display: flex;
    gap: 2vw;
    align-items: center;
    padding: 1vw;
}


/* .nav-list {
    display: flex;
    justify-content: space-between;
} */
/* 
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu,
.nav-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-actions {
    justify-self: flex-end;
}

.nav-item,
.nav-action {
    margin-left: 5rem;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active.bar: nth - child(2) {
        opacity: 0;
    }

    .hamburger.active.bar: nth - child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active.bar: nth - child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

} */